/*.movieLists{border-top:1px solid #EEE;clear:both;margin:0;}
.movieLists li{border-bottom:1px solid #EEE;padding:5px;}

.moviesList{border-top:1px solid #EEE;clear:both;margin:0;}
.moviesList li{border-bottom:1px solid #EEE;overflow:hidden;padding:5px;}
.moviesList li span{float:left;}
.moviesList li .edit{float:right;height:25px;margin:0;width:100%;}
.moviesList li input{float:right;height:25px;margin:0;width:25px;}

.moviesList li.checked span{color: #999;text-decoration:line-through;}

.movieCount{font-size:12px;font-style:italic;margin-top:15px;}
*/

body, html{background:#F0F0F0;}

#mainContent{background:#FFF;border:1px solid #78A300;margin-bottom:30px;margin-top:30px;}
#mainContent .page-header{background:#78A300;margin:0;padding:10px;}
#mainContent .page-header h1, #mainContent .page-header h1 a{color:#FFF;margin:0;text-shadow:1px 1px 1px #4B6600;}

.addButton{display:block;float:right;margin-bottom:10px;}

.lists{border-top:1px solid #EEE;clear:both;list-style:none;margin:0;padding:0;}
.lists li{border-bottom:1px solid #EEE;padding:5px;}
.lists li a{font-size:15px;font-weight:bold;}

.list{}
.list h4{margin-bottom:15px;}
.list ul{border-top:1px solid #EEE;clear:both;list-style:none;margin:0;padding:0;}
.list li{border-bottom:1px solid #EEE;padding:5px;overflow:hidden;}
.list li .title{float:left;font-weight:bold;}
.list li input[type=checkbox]{float:right;}

.list li.checked{}
.list li.checked .title{color: #999;font-style:italic;text-decoration: line-through;}

.list .count{font-size:13px;font-style:italic;margin-top:10px;}
